@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: #fff5bf; */
  --primary: #fff5bf;
  --primary-foreground: #e6c645;
  --background: #fff;
  --card: #a9a17a;
  --card-foreground: #000;
  --secondary: #000;
  --secondary-foreground: #e6c645;
  --radius: 10px;
  color: CanvasText;
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-height: 100vh;
}

.recipe-container {
  background: rgba(189, 181, 181, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 25px;
}
.recipe-card-container {
  background: rgba(189, 181, 181, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 25px;
}
